<f:layout name="Default" />

<f:section name="content">
<h1>Edit Squad</h1>

<f:flashMessages />

<f:render partial="FormErrors" />

<f:form action="update" enctype="multipart/form-data" name="squad" object="{squad}" >
	<label for="name">
		<f:translate key="tx_squad_domain_model_squad.name"/>
		<span class="required">(required)</span>
	</label><br/>
	<f:form.textfield property="name"/>
	<br/>
	<f:if condition="{squad.image}">
		<figure>
			<f:image src="{squad.image.originalResource.publicUrl}"
					 alt="{squad.image.originalResource.alternative}"/>
			<figcaption>{squad.image.originalResource.description}</figcaption>
		</figure>
	</f:if>
	<label for="image">
		<f:translate key="tx_squad_domain_model_squad.image"/>
	</label><br/>
	<f:form.upload property="image"/>
	<br/>
	<label for="roles">
		<f:translate key="tx_squad_domain_model_squad.roles"/>
	</label><br/>
	<f:for each="{squad.roles}" as="role">
		<f:form.textfield name="roles[{role.uid}][name]" value="{role.name}"/>
		<br/>
	</f:for>
	<f:form.submit value="Save" />
</f:form>
</f:section>