<f:layout name="Default" />

<f:section name="content">
<h1>Listing for Squad</h1>

<f:flashMessages />

<table  class="tx_squad" >
	<tr>
		<th><f:translate key="tx_squad_domain_model_squad.name" /></th>
		<th><f:translate key="tx_squad_domain_model_squad.image" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{squads}" as="squad">
		<tr>
			<td><f:link.action action="show" arguments="{squad : squad}"> {squad.name}</f:link.action></td>
			<td>
				<f:link.action action="show" arguments="{squad : squad}">
					<f:if condition="{squad.image}">
						<figure>
							<f:image src="{squad.image.originalResource.publicUrl}"
									 alt="{squad.image.originalResource.alternative}"/>
							<figcaption>{squad.image.originalResource.description}</figcaption>
						</figure>
					</f:if>
				</f:link.action>
			</td>
			<td><f:link.action action="edit" arguments="{squad : squad}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{squad : squad}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

</f:section>