<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:layout name="Default"/>

	<f:section name="main">
	
		<ul>
		<f:for each="{squads}" as="squad">
			<li>
			<f:link.action action="show" arguments="{squad:squad}">
				<f:if condition="{squad.image}">
				<f:then>
					<figure>
						<f:image src="{squad.image.originalResource.publicUrl}" alt="{squad.image.originalResource.alternative}"/>
						<figcaption>{squad.name}</figcaption>
					</figure>
				</f:then>
				<f:else>
					{squad.name}
				</f:else>
				</f:if>
			</f:link.action>
			</li>
		</f:for>
		</ul>
	
	</f:section>
</div>