<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:layout name="Default" />

	<f:section name="main">

	<figure>
		<f:image src="{member.image.originalResource.publicUrl}" alt="{member.image.originalResource.alternative}"/>
		<figcaption>{member.name}</figcaption>
	</figure>

	<table>
		<tbody>
		<f:for each="{member.answers}" as="answer">
			<tr>
				<td>{answer.question.text}</td>
				<td>{answer.text}</td>
			</tr>
		</f:for>
		</tbody>
	</table>

	</f:section>
</div>