<f:layout name="Default" />

<f:section name="content">
<h1>Listing for Question</h1>

<f:flashMessages />

<table  class="tx_squad" >
	<tr>
		<th><f:translate key="tx_squad_domain_model_question.question" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{questions}" as="question">
		<tr>
			<td><f:link.action action="show" arguments="{question : question}"> {question.question}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{question : question}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{question : question}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Question</f:link.action>
</f:section>