<f:layout name="Default" />

<f:section name="content">
<h1>Single View for Member</h1>

<f:flashMessages />

	<figure>
		<f:image src="{member.image.originalResource.publicUrl}" alt="{member.image.originalResource.alternative}"/>
		<figcaption>{member.name}</figcaption>
	</figure>

	<table>
		<tbody>
		<f:for each="{member.answers}" as="answer">
			<tr>
				<td>{answer.question.text}</td>
				<td>{answer.text}</td>
			</tr>
		</f:for>
		</tbody>
	</table>
<f:link.action action="list">Back to list</f:link.action><br />
<f:link.action action="create">New Member</f:link.action>
</f:section>